/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */
 @tailwind base;
 @tailwind components;
/**
 * Import variables
 */

@import "variables";

/**
 * Import npm dependencies
 * see: https://v2.parceljs.org/features/module-resolution/
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

@import "layouts/home";

/**
 * Do NOT include anything else in this file!
 */
 @tailwind utilities;

 @layer base {
    :root{
        --color-white: 255 255 255;
        --color-gray1: 85 85 85;
        --color-gray2: 51 51 51;
        --color-green: 189 240 23;
    }    
 }
 @layer components {
    .article-p {
    @apply leading-normal text-left
    }
    .nav-li{
    @apply flex h-[50px] items-center
    }
    .nav-a{
    @apply no-underline text-white p-[10px] hover:bg-gray1
    }
}
